<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="../../assets/subcardImgs/open-book-with-fairytale-scene.jpg" alt="no img">
            <h1>Fictional</h1>
            <p></p>
            <button class="btn click">Explore now</button>

        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="../../assets/subcardImgs/freepik-export-20241206171714biR9.jpeg" alt="no img">
            <h1>Non-Fictional</h1>
            <p></p>
            <button class="btn click">Explore now</button>

        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="../../assets/subcardImgs/pexels-introspectivedsgn-7809123.jpg" alt="no img">
            <h1>Comics</h1>
            <p></p>
            <button class="btn click">Explore now</button>

        </div>
    </div>
</div>
