<div class="container1" data-aos="flip-down">
    <div class="slider-contain">
        <div class="silder-img">
            <!-- <img src="../../assets/sliderimages/pngwing.com (3).png" alt=""> -->
             <img src="../../assets/sliderimages/freepik-export-20241206174325jubE.jpeg" alt="">
        </div>
        <div class="slider-description">
            <h1>Discover the World of books</h1>
            <p>Explore new arrivals, timeless classics, and thrilling genres.</p>
            <a href="">Readmore</a>
        </div>
    </div>
</div>